.window-content {
  overflow-y: auto;
  height: calc(100% - 20px);
}

table > tbody > tr > * {
  text-overflow: ellipsis;
  overflow: hidden;
}

fieldset button {
  margin: 0 5px;
}

fieldset button:first-of-type {
  margin-left: 0;
}

fieldset button:last-of-type {
  margin-right: 0;
}
